<div class="w-full flex flex-col mb-4 md:mb-6">
    <p class="leading-[180%] border-b px-[10%] border-b-light-text2 dark:border-b-dark-text2 pb-3 text-right text-sm font-medium lg:text-base text-dark-text4 dark:text-light-text4">تاریخچه قیمت</p>

    <table class="w-full leading-[180%] flex flex-col">
        <thead class="border-b border-b-light-text4 dark:border-b-dark-text4 w-full flex-1 flex py-2.5">
            <tr class="w-full flex flex-1">
                <td class="table-item-base dark:text-white text-dark">تغییرات</td>
                <td class="table-item-base dark:text-white text-dark">قیمت (تومان)</td>
                <td class="table-item-base dark:text-white text-dark">روز</td>
            </tr>
        </thead> 

        <tbody class="w-full flex flex-col">
            <tr class="w-full flex flex-1 border-b py-1 border-b-light-border2 dark:border-b-dark-border2 pointer-events-none">
                <td class="table-item-base text-center"><p class="mx-auto text-center rounded-sm text-sm w-12 h-full skeleton-base z-0"></p></td>
                <td class="table-item-base text-center"><p class="mx-auto text-center rounded-sm text-sm w-12 h-full skeleton-base z-0"></p></td>
                <td class="table-item-base dark:text-white text-dark">امروز</td>
            </tr>
            <tr class="w-full flex flex-1 border-b py-1 border-b-light-border2 dark:border-b-dark-border2 pointer-events-none">
                <td class="table-item-base text-center"><p class="mx-auto text-center rounded-sm text-sm w-12 h-full skeleton-base z-0"></p></td>
                <td class="table-item-base text-center"><p class="mx-auto text-center rounded-sm text-sm w-12 h-full skeleton-base z-0"></p></td>
                <td class="table-item-base dark:text-white text-dark rtl">30 روز</td>
            </tr>
            <tr class="w-full flex flex-1 border-b py-1 border-b-light-border2 dark:border-b-dark-border2 pointer-events-none">
                <td class="table-item-base text-center"><p class="mx-auto text-center rounded-sm text-sm w-12 h-full skeleton-base z-0"></p></td>
                <td class="table-item-base text-center"><p class="mx-auto text-center rounded-sm text-sm w-12 h-full skeleton-base z-0"></p></td>
                <td class="table-item-base dark:text-white text-dark rtl">60 روز</td>
            </tr>
            <tr class="w-full flex flex-1 border-b py-1 border-b-light-border2 dark:border-b-dark-border2 pointer-events-none">
                <td class="table-item-base text-center"><p class="mx-auto text-center rounded-sm text-sm w-12 h-full skeleton-base z-0"></p></td>
                <td class="table-item-base text-center"><p class="mx-auto text-center rounded-sm text-sm w-12 h-full skeleton-base z-0"></p></td>
                <td class="table-item-base dark:text-white text-dark rtl">90 روز</td>
            </tr>
            <tr class="w-full flex flex-1 border-b py-1 border-b-light-border2 dark:border-b-dark-border2 pointer-events-none">
                <td class="table-item-base text-center"><p class="mx-auto text-center rounded-sm text-sm w-12 h-full skeleton-base z-0"></p></td>
                <td class="table-item-base text-center"><p class="mx-auto text-center rounded-sm text-sm w-12 h-full skeleton-base z-0"></p></td>
                <td class="table-item-base dark:text-white text-dark rtl">180 روز</td>
            </tr>
        </tbody>
    </table>

</div>